.bg02 {  background-image: url(index_02.jpg); background-repeat: no-repeat}
.bg01 {  background-image: url(index_01.jpg); background-repeat: no-repeat}
.bg06 {  background-image: url(index_06.jpg); background-repeat: no-repeat}
.bg05 {  background-image: url(index_05.jpg); background-repeat: no-repeat}
.text {  font-family: "ו"; font-size: 12px}
.button1 {  background-image: url(button1.gif); background-repeat: no-repeat}
.button2 {  background-image: url(button2.gif); background-repeat: no-repeat}
.button3 {  background-image: url(button3.gif); background-repeat: no-repeat}
