.text {  font-family: "ו"; font-size: 12px}
.bg {  background-image: url(bg.gif); background-repeat: repeat-y}
.bg02 {  background-image: url(index_02.gif); background-repeat: no-repeat}
.button {  background-image: url(button.gif); background-repeat: repeat-y}
