.text {  font-family: "ו"; font-size: 12px}
.bg01 {  background-image: url(index_01.jpg); background-repeat: no-repeat}
.button {  background-image: url(button.gif); background-repeat: repeat-y}
.bg06 {  background-image: url(index_06.jpg); background-repeat: no-repeat}
.bg03 {  background-image: url(index_03.jpg); background-repeat: no-repeat}
