.bg02 {  background-image: url(index_02.jpg); background-repeat: no-repeat}
.bg06 {  background-image: url(index_06.jpg); background-repeat: repeat-y}
.bg05 {  background-image: url(index_05.jpg); background-repeat: no-repeat}
.text {  font-family: "ו"; font-size: 12px}
