.text {  font-family: "ו"; font-size: 12px}
.menubg {  background-image: url(menu.jpg); background-repeat: no-repeat}
.button1 {  background-image: url(button1.jpg); background-repeat: no-repeat}
.button2 {  background-image: url(button2.jpg); background-repeat: repeat-x}
.button3 {  background-image: url(button3.jpg); background-repeat: no-repeat}
.bg04 {  background-image: url(index_05.jpg); background-repeat: no-repeat}
.bg01 {  background-image: url(index_01.jpg); background-repeat: no-repeat}
