.text { font-family: "ËÎÌו"; font-size: 12px} .bg { background-image: url(bg.jpg); 
background-repeat: repeat-y} .pic { background-image: url(01.gif); background-repeat: 
no-repeat} .button { background-image: url(button.gif); background-repeat: repeat} 
