.text {  font-family: "ו"; font-size: 12px}
.bg06 {  background-image: url(index_06.jpg); background-repeat: no-repeat}
.bg {  background-image: url(bg.gif); background-repeat: repeat-y}
.bg01 {  background-image: url(index_01.jpg); background-repeat: no-repeat}
.bg10 {  background-image: url(index_10.jpg); background-repeat: repeat-x}
