.text {  font-family: "ו"; font-size: 12px}
.bg04 {  background-image: url(index_04.jpg); background-repeat: no-repeat}
.bg07 {  background-image: url(index_07.jpg); background-repeat: no-repeat}
.button1 {  background-image: url(button1.gif); background-repeat: no-repeat}
.button2 {  background-image: url(button2.gif); background-repeat: no-repeat}
