.text {  font-family: "ו"; font-size: 12px}
.bg01 {  background-image: url(index_01.jpg); background-repeat: no-repeat}
.button {  background-image: url(button.jpg); background-repeat: no-repeat}
.bg06 {  background-image: url(index_06.jpg); background-repeat: no-repeat}
.bg02 {  background-image: url(index_02.jpg); background-repeat: repeat-y}
