.text {  font-family: "ו"; font-size: 12px}
.bg01 {  background-image: url(index_01.jpg); background-repeat: no-repeat}
.bg {  background-image: url(bg.gif); background-repeat: repeat-y}
.bg03 {  background-image: url(index_03.jpg); background-repeat: no-repeat}
.bg06 {  background-image: url(index_06.jpg); background-repeat: no-repeat}
.bg07 {  background-image: url(index_07.jpg); background-repeat: no-repeat}
.bg09 {  background-image: url(index_09.jpg); background-repeat: no-repeat}
.bg10 {  background-image: url(index_10.jpg); background-repeat: no-repeat}
.bg11 {  background-image: url(index_11.jpg); background-repeat: no-repeat}
.bg08 {  background-image: url(index_08.jpg); background-repeat: no-repeat}
.bg04 {  background-image: url(index_04.jpg); background-repeat: no-repeat}
