.bg {  background-image: url(bg.gif); background-repeat: repeat-y}
.bg06 {  background-image: url(index_06.jpg); background-repeat: no-repeat}
.button {  background-image: url(button.gif); background-repeat: repeat-y}
.text {  font-family: "ו"; font-size: 12px}
.bg05 {  background-image: url(index_05.jpg); background-repeat: no-repeat}
.bg02 {  background-image: url(index_02.jpg); background-repeat: no-repeat}
