.text {  font-family: "ו"; font-size: 12px}
.button {  background-image: url(index_09.jpg); background-repeat: no-repeat}
.bg {  background-image: url(bg.gif); background-repeat: repeat-y}
.bg03 {  background-image: url(index_03.jpg); background-repeat: no-repeat}
