.bg {  background-image: url(bg.gif); background-repeat: repeat-y}
.bg02 {  background-image: url(index_02.gif); background-repeat: no-repeat}
.bg04 {  background-image: url(index_04.gif); background-repeat: no-repeat}
.bg07 {  background-image: url(index_07.gif); background-repeat: repeat-y}
.text {  font-family: "ו"; font-size: 12px}
