.bg03_1 {  background-image: url(index_03_1.gif); background-repeat: no-repeat}
.bg03_2 {  background-image: url(index_03_2.gif); background-repeat: repeat}
.text {  font-family: "ו"; font-size: 12px; line-height: 1.5}
.button {  background-image: url(button.gif); background-repeat: repeat-y}
.bg {  background-image: url(bg.gif); background-repeat: repeat-y}
.bg04 {  background-image: url(index_04.gif); background-repeat: no-repeat}
.bg1 {  background-image: url(bg1.gif); background-repeat: repeat-y}
