.bg02 {  background-image: url(index_02.jpg); background-repeat: no-repeat}
.bg3 {  background-image: url(index_03.jpg); background-repeat: no-repeat}
.bg04 {  background-image: url(index_04.jpg); background-repeat: no-repeat}
.text {  font-family: "ËÎÌו"; font-size: 12px}
.button1 {  background-image: url(button1.gif); background-repeat: no-repeat}
.button2 {  background-image: url(button2.gif); background-repeat: no-repeat}
.button3 {  background-image: url(button3.gif); background-repeat: no-repeat}
