.bg03 {  background-image: url(index_03.jpg); background-repeat: no-repeat}
.bg02 {  background-image: url(index_02.jpg); background-repeat: no-repeat}
.bg04 {  background-image: url(index_04.jpg); background-repeat: no-repeat}
.bg05 {  background-image: url(index_05.jpg); background-repeat: no-repeat}
.text {  font-family: "ו"; font-size: 12px; line-height: 1.5}
.button {  background-image: url(button.gif); background-repeat: repeat-y}
.bg {  background-image: url(bg1.gif); background-repeat: repeat-y}
