.text {  font-family: "ו"; font-size: 12px}
.bg {  background-image: url(bg.gif); background-repeat: repeat-y}
.bg04 {  background-image: url(index_03.jpg); background-repeat: no-repeat}
.bg01 {  background-image: url(index_02.jpg); background-repeat: no-repeat}
.bg06 {  background-image: url(index_05.jpg); background-repeat: no-repeat}
.bg09 {  background-image: url(index_09.jpg); background-repeat: no-repeat}
