.text {  font-family: "ËÎÌו"; font-size: 12px; line-height: 1.5}
.bg {  background-image: url(bg.gif); background-repeat: repeat-y}
.bg06 {  background-image: url(index_06.jpg); background-repeat: no-repeat}
.bg02 {  background-image: url(index_02.jpg); background-repeat: no-repeat}
.button {  background-image: url(button.gif); background-repeat: no-repeat}
