.bg06 {  background-image: url(index_06.jpg); background-repeat: repeat-y}
.text {  font-family: "ו"; font-size: 12px; line-height: 1.5}
.bg04 {  background-image: url(index_04.jpg); background-repeat: no-repeat}
.bg {  background-image: url(bg.gif); background-repeat: repeat-y}
